<button type="button" disabled={{this.isDisabled}}
  class="
    relative
    h-16
    lg:h-32
    rounded-md
    md:rounded-lg
    border-2
    md:border-4
    flex
    justify-center
    items-center
    focus:outline-none
    focus:border-gray-600
    text-gray-100
    {{if
      this.isSelected
      (if
        this.player.isLead
        this.leadClasses
        "bg-green-300 text-green-900 border-green-400 focus:border-green-600"
      )
      (if
        this.isCovered
        (if
          this.player.isLead
          this.leadClasses
          "bg-gray-300 text-gray-700 border-gray-500"
        )
        this.typeBackground
      )
    }}
    {{if
      this.isUncovered
      (if
        this.player.isLead
        "border-gray-800 opacity-25"
        "border-gray-800"
      )
    }}
    {{if this.isHighlighted "shadow-lg"}}
    {{if this.isDisabled "cursor-default"}}
  "
  {{on "click" this.onClick}}
>
  {{#if (or this.isLead this.isCovered)}}
    <div class="
      font-bold
      uppercase
      text-sm
      tracking-tight
      md:tracking-normal
      lg:text-xl
    ">
      {{@card.word}}
    </div>

    {{#if (and this.isSelected this.player.isLead)}}
      <div class="-m-1
        absolute
        top-0
        right-0
        mt-2
        mr-2
        w-8
        h-8
        rounded-full
        bg-green-500
        border-4
        border-green-200
      "></div>
    {{/if}}
  {{/if}}
</button>

{{yield}}