<Layout::Title @title={{t "application.title"}} />

<Layout::Panel>
  <!--
  <Ui::Form @onSubmit={{this.startGame}}>
    <Ui::Input @label={{t "index.label.token"}} @type="text" @value="" />

    <Ui::FormActions>
      <Ui::Button @type="submit">
        {{t "index.action.continue"}}
      </Ui::Button>
    </Ui::FormActions>
  </Ui::Form>

  <p local-class="or">
    {{t "index.text.or"}}
  </p>
  -->

  <p local-class="actions">
    <Ui::Button @style="primary" @route="game" @model={{this.randomToken}}>
      {{t "index.action.new"}}
    </Ui::Button>
  </p>
</Layout::Panel>

{{outlet}}