<Layout::Title @title={{t "application.title"}} />

<Preview @cards={{this.model.cards}} />

<Layout::Panel local-class="extra">
  <p local-class="actions">
    <Ui::Button @style="primary" @route="game" @model={{this.randomToken}}>
      {{t "index.action.new"}}
    </Ui::Button>
  </p>

  <h3>
    {{t "index.text.headlineAbout"}}
  </h3>
  <p>
    {{t "index.text.about"}}
  </p>
  <p>
    {{t "index.text.githubBefore"}}
    <a href={{t "index.text.githubLink"}}>
      {{t "index.text.github"}}
    </a>
    {{t "index.text.githubAfter"}}
  </p>
</Layout::Panel>

{{outlet}}