<Layout::Title>
  {{t "application.title"}}
</Layout::Title>

<Layout::Panel>
  <Ui::Form @onSubmit={{this.startGame}}>
    <p>
      <label for="token">
        {{t "index.label.token"}}
      </label>
      <input class="form-input w-full" type="text" value="" />
    </p>
    <Ui::FormActions>
      <Ui::Button @type="submit">
        {{t "index.action.continue"}}
      </Ui::Button>
    </Ui::FormActions>
  </Ui::Form>

  <p local-class="or">
    {{t "index.text.or"}}
  </p>

  <p>
    <Ui::Button @style="primary" @route="game" @model={{this.randomToken}}>
      {{t "index.action.new"}}
    </Ui::Button>
  </p>
</Layout::Panel>

{{outlet}}