{{page-title
  (if
    (eq this.state.turn this.user.team)
    (t "gamePlay.title")
    (t "gamePlay.titleOther")
  )
}}

<div local-class="max">
  <Game::Tally @cards={{this.cards}} @players={{this.lobby.players}}>
    <Ui::Button
      @style="primary"
      @disabled={{not-eq this.state.turn this.user.team}}
      @onClick={{this.doEndTurn}}
    >
      {{t "gamePlay.action.skip"}}
    </Ui::Button>
  </Game::Tally>

  <ul local-class="cards">
    {{#each this.state.cards as |card|}}
      <li>
        <Game::Card
          @card={{card}}
          @state={{this.state}}
          @isLead={{this.state.player.lead}}
          @user={{this.user}}
          @onChange={{this.onCardChange}}
        />
      </li>
    {{/each}}
  </ul>

  <Game::Team>
    {{#if this.isDevelopment}}
      <Ui::Button @style="link" @onClick={{this.win}}>
        {{! template-lint-disable no-bare-strings }}
        Debug:Win
      </Ui::Button>
    {{/if}}

    {{#if this.state.player.lead}}
      <Ui::Button @onClick={{this.doEndGame}} @style="link" local-class="abort">
        {{t "gamePlay.action.end"}}
      </Ui::Button>
    {{/if}}
  </Game::Team>
</div>

{{outlet}}