{{title
  (t
    "gamePlay.title"
    team=(t
      (if (eq this.state.turn this.TEAMS.TEAM_A) "Teams.teamA" "Teams.teamB")
    )
  )
}}

<div local-class="max">
  <Game::Tally @cards={{this.cards}} @players={{this.lobby.players}}>
    <Ui::Button
      @style="primary"
      @disabled={{not-eq this.state.turn this.user.team}}
      @onClick={{this.doEndTurn}}
    >
      {{t "gamePlay.action.skip"}}
    </Ui::Button>
  </Game::Tally>

  <ul local-class="cards">
    {{#each this.state.cards as |card|}}
      <li>
        <Game::Card @card={{card}} @onChange={{this.onCardChange}} />
      </li>
    {{/each}}
  </ul>

  <Game::Team>
    {{#if this.user.isLead}}
      <Ui::Button @onClick={{this.doEndGame}} @style="link" local-class="abort">
        {{t "gamePlay.action.end"}}
      </Ui::Button>
    {{/if}}
  </Game::Team>
</div>

{{outlet}}