{{page-title this.documentTitle}}

<section local-class="end">
  <Layout::Title
    @title={{this.pageTitle}}
    local-class="title {{if (is-team-a this.state.winner) "team-a"}} {{
      if (is-team-b this.state.winner) "team-b"
    }}"
  />

  <Layout::Panel>
    <p
      local-class="message {{if (is-team-a this.state.turn) "team-a" "team-b"}}"
    >
      {{#if (not (is-empty this.state.winner))}}
        {{#if (eq this.user.team this.state.winner)}}
          {{t "gameOver.text.congratulations" name=this.user.name}}
          <br />
          <Icon @icon="trophy" local-class="icon 4x party" />
        {{else}}
          {{t "gameOver.text.condolences" name=this.user.name}}
          <br />
          <Icon @icon="heart-broken" local-class="icon 4x" />
        {{/if}}
      {{else if this.state.failed}}
        <span>
          {{
            t
            (if
              (is-team-a this.state.turn)
              "gameOver.text.failTeamA"
              "gameOver.text.failTeamB"
            )
          }}
        </span>
        {{t
          (if
            (not-eq this.user.team this.state.turn)
            "gameOver.text.congratulations"
            "gameOver.text.condolences"
          )
          name=this.user.name
        }}
        <br />
        {{#if (not-eq this.user.team this.state.turn)}}
          <Icon @icon="trophy" local-class="icon 4x party" />
        {{else}}
          <Icon @icon="skull" local-class="icon 4x" />
        {{/if}}
      {{/if}}
    </p>
  </Layout::Panel>

  <Layout::Panel @title={{t "gameOver.text.stats"}}>
    {{#each this.stats as |stat|}}
      <h3 local-class="hstats">
        {{t stat.translation}}
      </h3>

      {{! template-lint-disable css-modules/no-class }}
      <ul local-class="list" class={{stat.localClass}}>
        {{#each stat.cards as |card|}}
          <li
            local-class="word {{
              if (is-uncovered card.state) "uncovered" "covered"
            }}"
          >
            {{card.word}}
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </Layout::Panel>

  <Layout::Panel>
    <p local-class="actions">
      <Ui::Button @style="primary" @onClick={{this.doReset}}>
        {{t "gameOver.action.newGame"}}
      </Ui::Button>

      {{#if this.isDevelopment}}
        <Ui::Button @style="link" @onClick={{this.undo}}>
          {{! template-lint-disable no-bare-strings }}
          Debug:Undo
        </Ui::Button>
      {{/if}}
    </p>
  </Layout::Panel>

  {{#if (and (not (is-empty this.state.winner)) (not this.state.failed))}}
    {{confetti
      (if
        this.state.winnerTeamA
        (array "#c42c36" "#ed5259" "#f7ac37")
        (array "#41f3fc" "#13b2f2" "#7f3b86")
      )
    }}
  {{/if}}

  {{outlet}}
</section>