{{#if @route}}
  <LinkTo
    ...attributes
    @route={{@route}}
    @model={{@model}}
    local-class="button {{if (eq @style "primary") "primary"}} {{
      if (eq @style "link") "link"
    }}"
    disabled={{or this.isLoading @disabled}}
  >
    {{yield}}
  </LinkTo>
{{else}}
  <button
    local-class="button {{if this.isLoading "loading"}} {{
      if (eq @style "primary") "primary"
    }} {{if (eq @style "link") "link"}}"
    type={{if @type @type "button"}}
    disabled={{or this.isLoading @disabled}}
    ...attributes
    {{on "click" this.onClick}}
  >
    <span local-class="label">
      {{yield}}
    </span>

    {{#if this.isLoading}}
      <span local-class="loading-icon">
        <FaIcon @icon="circle-notch" @spin="true" />
      </span>
    {{/if}}
  </button>
{{/if}}