<li local-class="player">
  {{#if @player.lead}}
    <span local-class="leader">
      <FaIcon @icon="user-tie" />
    </span>
  {{/if}}

  {{#if this.isEditMode}}
    <form local-class="form" {{on "submit" this.updateUserName}}>
      <Ui::Input
        @type="text"
        @autocomplete="given-name"
        @value={{this.user.name}}
      />
      <Ui::FormActions>
        <Ui::Button @type="submit" @isLoading={{this.isSaving}}>
          {{t "LobbyPlayer.action.confirmNameChange"}}
        </Ui::Button>
      </Ui::FormActions>
    </form>
  {{else}}
    <div>
      {{if @player.name @player.name (t "LobbyPlayer.text.unknownPlayer")}}

      {{#if (eq @player.id this.user.id)}}
        <Ui::Button @style="link" @onClick={{fn (mut this.isEditMode) true}}>
          <FaIcon
            @icon="pencil-alt"
            @title={{t "LobbyPlayer.action.changeName"}}
          />
        </Ui::Button>
      {{/if}}
    </div>

    {{#if (not this.socket.cards)}}
      <div>
        {{#if (is-empty @player.team)}}
          <Ui::Button
            local-class="team-a"
            @style="link"
            @onClick={{fn this.updateUser (hash team=this.TEAMS.TEAM_A)}}
          >
            {{t "Teams.teamA"}}
          </Ui::Button>

          <Ui::Button
            local-class="team-b"
            @style="link"
            @onClick={{fn this.updateUser (hash team=this.TEAMS.TEAM_B)}}
          >
            {{t "Teams.teamB"}}
          </Ui::Button>
        {{else}}
          {{#if (not @player.lead)}}
            {{#if (not @teamHasLead)}}
              <Ui::Button
                @style="link"
                @onClick={{fn this.updateUser (hash lead=true)}}
                title={{t "LobbyPlayer.action.promote"}}
              >
                <FaIcon @icon="user-tie" />
              </Ui::Button>
            {{/if}}

            <Ui::Button
              @style="link"
              @onClick={{fn this.updateUser (hash team=@otherTeam)}}
              title={{t "LobbyPlayer.action.switchTeam"}}
            >
              <FaIcon @icon="exchange-alt" @rotation={{90}} />
            </Ui::Button>
          {{else}}
            <Ui::Button
              @style="link"
              @onClick={{fn this.updateUser (hash lead=false)}}
              title={{t "LobbyPlayer.action.demote"}}
            >
              <FaIcon @icon="level-down-alt" />
            </Ui::Button>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  {{/if}}

  {{yield}}
</li>