<aside ...attributes class="font-bold bg-gray-900 rounded-lg md:flex items-center justify-center">
  <h2 class="p-4 text-center">
    {{this.player.name}}
  </h2>

  <p class="p-4 text-center">
    <span class="py-2 px-3 rounded {{if this.player.inTeamA "bg-red-700" "bg-blue-700"}}">
      {{#if this.player.lead}}
        <FaIcon @icon="crown" /> {{t "GameTally.text.isLead"}}
      {{/if}}

      {{t (if this.player.inTeamA "Teams.teamA" "Teams.teamB")}}
    </span>
  </p>

  <p class="p-4 text-center">
    {{this.uncoveredTeamCards}}/{{this.totalTeamCards}} cards left
  </p>

  {{#if hasBlock}}
    <p class="p-4 text-center">
      {{yield}}
    </p>
  {{/if}}
</aside>