<header ...attributes local-class="tally">
  <Layout::Title
    local-class="title {{if (is-team-a this.state.turn) "team-a" "team-b"}}"
    @title={{
      t
      "gamePlay.title"
      team=(if (is-team-a this.state.turn) (t "Teams.teamA") (t "Teams.teamB"))
    }}
    @user={{this.user}}
    @socket={{this.state}}
  />

  <div local-class="bar">
    <p local-class="player {{if (is-team-a this.user.team) "bg-a" "bg-b"}}">
      {{#if this.user.isLead}}
        <FaIcon @icon="spy" />
        &nbsp;
      {{/if}}

      <strong>
        {{this.user.name}}
      </strong>
    </p>

    <p local-class="actions">
      {{yield}}
    </p>
  </div>
</header>