<header ...attributes local-class="tally">
  <Layout::Title
    local-class="title {{if (is-team-a this.socket.turn) "team-a" "team-b"}}"
    @title={{
      t
      "gamePlay.title"
      team=(if (is-team-a this.socket.turn) (t "Teams.teamA") (t "Teams.teamB"))
      stats=(t
        "GameTally.text.stats"
        current=this.socket.uncoveredCards
        total=this.socket.totalCards
      )
    }}
    @icon={{
      if (eq this.user.team this.socket.turn) "play-circle" "pause-circle"
    }}
    @user={{this.user}}
    @socket={{this.socket}}
  />

  <div local-class="bar">
    <p local-class="player {{if (is-team-a this.user.team) "bg-a" "bg-b"}}">
      {{#if this.user.isLead}}
        <FaIcon @icon="user-tie" />
        &nbsp;
      {{/if}}

      <strong>
        {{this.user.name}}
      </strong>
    </p>

    <p local-class="actions">
      {{yield}}
    </p>
  </div>
</header>