<header ...attributes local-class="tally">
  <Layout::Title
    local-class="title {{if (is-team-a this.state.turn) "team-a" "team-b"}}"
    @title={{
      if
      (eq this.state.turn this.user.team)
      (t "gamePlay.title")
      (t "gamePlay.titleOther")
    }}
    @user={{this.user}}
    @socket={{this.state}}
  />

  <div local-class="bar">
    <p local-class="player {{if (is-team-a this.user.team) "team-a" "team-b"}}">
      {{#if this.user.isLead}}
        <FaIcon @icon="spy" />
        &nbsp;
      {{/if}}

      <strong>
        {{this.user.name}}
        &ndash;
        {{t "Teams.team"}}
        {{if (is-team-a this.user.team) (t "Teams.teamA") (t "Teams.teamB")}}
      </strong>
    </p>

    <p local-class="actions">
      {{yield}}
    </p>
  </div>
</header>