{{title (t "lobbyIndex.title")}}

<form class="container flex flex-col min-h-calc p-5 justify-center items-center" {{on "submit" this.startGame}}>
  <h1 class="text-gray-400 text-xl font-bold tracking-widest mt-auto mb-0 text-center uppercase">{{t "lobbyIndex.title"}}</h1>

  <p class="mb-10 text-center text-gray-500">
    {{t "lobbyIndex.text.help"}}
  </p>

  <Lobby::Group @title={{t "lobbyIndex.text.headlineTeamA"}} @titleColor="text-red-700">
    <ul>
      {{#if this.leadTeamA}}
        <li class="pb-2">
          <Lobby::Player
            @player={{this.leadTeamA}}
            @onUpdateUser={{this.updateUser}}
          />
        </li>
      {{/if}}

      {{#each this.playersTeamA as |player|}}
        <li class="pb-2">
          <Lobby::Player
            @player={{player}}
            @teamHasLead={{this.leadTeamA}}
            @onUpdateUser={{this.updateUser}}
            @otherTeam={{this.TEAMS.TEAM_B}}
          />
        </li>
      {{else}}
        <li class="-mt-2 pb-2 text-gray-700">
          {{t "lobbyIndex.text.addTeamMembers"}}
        </li>
      {{/each}}
    </ul>
  </Lobby::Group>

  <Lobby::Group @title={{t "lobbyIndex.text.headlineTeamB"}} @titleColor="text-blue-700">
    <ul>
      {{#if this.leadTeamB}}
        <li class="pb-2">
          <Lobby::Player
            @player={{this.leadTeamB}}
            @onUpdateUser={{this.updateUser}}
          />
        </li>
      {{/if}}

      {{#each this.playersTeamB as |player|}}
        <li class="pb-2">
          <Lobby::Player
            @player={{player}}
            @teamHasLead={{this.leadTeamB}}
            @onUpdateUser={{this.updateUser}}
            @otherTeam={{this.TEAMS.TEAM_A}}
          />
        </li>
      {{else}}
        <li class="-mt-2 pb-2 text-gray-700">
          {{t "lobbyIndex.text.addTeamMembers"}}
        </li>
      {{/each}}
    </ul>
  </Lobby::Group>

  {{#if this.playersWaiting}}
    <Lobby::Group @title={{t "lobbyIndex.text.headlineWaiting"}} @titleColor="text-gray-600">
      <ul>
        {{#each this.playersWaiting as |player|}}
          <li class="pb-2">
            <Lobby::Player
              @player={{player}}
              @onUpdateUser={{this.updateUser}}
            />
          </li>
        {{/each}}
      </ul>
    </Lobby::Group>
  {{else if this.user.isLead}}
    <Lobby::Group @title={{t "lobbyIndex.text.headlineWords"}} @titleColor="text-gray-600">
      <fieldset class="pb-2" disabled={{this.isSelectingWords}}>
        {{#if this.user.isLead}}
          <p class="pb-2">
            <select class="form-select block w-full" {{on "change" this.selectWords}}>
              <option value="">{{t "lobbyIndex.placeholder.selectWords"}}</option>
              {{#each this.words.list as |list|}}
                <option value={{list.id}} selected={{eq list.id this.socket.words}}>{{list.title}} ({{t "lobbyIndex.text.wordCount" count=list.list.length}})</option>
              {{/each}}
            </select>
          </p>
        {{/if}}

        {{#if this.socket.words}}
          <p class="mt-2">
            <textarea class="form-textarea w-full h-32">{{get (get this.words.byId this.socket.words) "plain"}}</textarea>
          </p>
        {{/if}}
      </fieldset>
    </Lobby::Group>
  {{else if this.socket.words}}
    <Lobby::Group @title={{t "lobbyIndex.text.headlineWords"}} @titleColor="text-gray-600">
      <p class="pb-4">{{get (get this.words.byId this.socket.words) "title"}} <span class="text-gray-600">{{t "lobbyIndex.text.wordCount" count=(get (get this.words.byId this.socket.words) "list.length")}}</span></p>
    </Lobby::Group>
  {{/if}}

  <div class="mb-auto py-5">
    <Button
      class="button-lg"
      @type="submit"
      @disabled={{not this.canContinue}}
      @isLoading={{or this.isLoading this.socket.cards}}
    >
      {{t "lobbyIndex.action.start"}}
    </Button>
  </div>
</form>

{{outlet}}